streamlit==1.39.0
tensorflow==2.19.0
tensorflow-hub==0.16.1
torch==2.8.0
torchaudio==2.8.0
transformers==4.46.3
librosa==0.10.2
soundfile==0.12.1
openai-whisper>=20231117
mysql-connector-python==9.1.0
plotly==5.24.1
scipy==1.14.1
sympy==1.13.3
pydub==0.25.1
python-dotenv==1.1.1